@font-face {
    font-family: Hind Siliguri;
    src: url(font/Hind_Siliguri/HindSiliguri-Regular.ttf);
}
@font-face {
    font-family: Hind Siliguri-bold;
    src: url(font/Hind_Siliguri/HindSiliguri-Bold.ttf);
}
* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    /* Remove the underline of the link */
}



.container {
    background-color: #f6f6f6;
    display: flex;
    justify-content: space-between;
    /* position: absolute; */
    /* width: 1300px; */
    height: 56px;
    align-items: center;
    padding: 0px 80px;
}

.info {
    display: flex;
    font-family: Hind Siliguri;
    font-size: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22.64px;
    text-align: center;
}
.info-text {
    padding-right: 100px;
}
.image {
    padding-right: 15px;
}
.header-main {
    font-family: Hind Siliguri-bold;
    font-weight: 600;
    font-size: 18px;
    line-height: 29.11px;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
.second-header {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    align-content: center;
    height: 109px;
    /* position: absolute; */
    /* width: 100%; */
    height: 109px;
    left: 0px;
    /* top: 56px; */
    background: #c0bfcd;
}
.left {
    transform: translate(+24%);
}
.left p {
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 49px;
    /* identical to box height */

    text-align: center;
}

.center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translate(+10%);
}
.center p:not(:last-child) {
    margin-right: 55px; /* Adjust the value to control the spacing */
}

.right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 200px;

}
